.not-found {
    background: url('https://i.pinimg.com/736x/2b/3c/90/2b3c9064dfd9a387cb6c17f2a3c6a771.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}